body {
	margin-left: 5%;
	margin-top: 1px;
	padding: 0;
	line-height: 150%;
	font-family: 'Indie Flower', cursive;
	font-size: 22px;
	background: url(../images/layout.jpg) no-repeat bottom right fixed;
}
